<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367198091015-94nu7ogv4qp4ube6kk59p2985316tnhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367198091015-94nu7ogv4qp4ube6kk59p2985316tnhu</string>
	<key>API_KEY</key>
	<string>AIzaSyBB1YcX4WEuWQFPRopca35Yt6hGAv6wT40</string>
	<key>GCM_SENDER_ID</key>
	<string>367198091015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgaradrian.mx.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-534d9</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-534d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367198091015:ios:591f76df9e4bcca3c4b7a2</string>
</dict>
</plist>